{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wordplease</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Wordplease</h1>
            <nav>

            </nav>
        </header>
        <main>
            <ul class="list">
                {% for blog in latest_blogs %}
                <li class="list-item list-item--{{ blog.style }}">
                    <div class="list-item__name">
                        <h2>{{ blog.name }}</h2>
                    </div>
                    <div class="list-item__description">
                        <p>{{ blog.description }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>
    </body>
</html>