{% extends 'base.html' %}

{% block head_title %} Wordplease {% endblock %}

{% block main_title %} Last posts {% endblock %}

{% block main_content %}
<ul class="list">
    {% for post in latest_posts %}
    <li class="list-item">
        <a href="{% url 'blog_page' post.owner %}{{ post.id }}">
            <div class="list-item__picture">
                <img src="{{ post.image_url }}"/>
            </div>
            <div class="list-item__name">
                <h2>{{ post.title }}</h2>
            </div>
            <div class="list-item__resume">
                <p>{{ post.content_introduction }}</p>
            </div>
        </a>
        <a href="{% url 'blog_page' post.owner %}">
            <div class="list-item__blog">
                <p>{{ post.owner }}</p>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{%  endblock %}

